


<div class="dropdown">
  <button class="btn"> Tasks</button>
  <div class="dropdown-content">
    <a routerLink="/pipes" >Custom Pipes</a>
    <a routerLink="/dynamic" > Dynamic Components</a>
    <a routerLink="/impure" >Impure pipes</a>
    <a routerLink="/change" >Change color</a>
    <a routerLink="/custom">Custom Structural Directive</a>
    <a routerLink="/forms">Reactive Forms</a>
    <a routerLink="/template">Template Driven Forms</a>

  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>