<!-- 
<div class="sidebar-opener" (click)="sidebarShow = !sidebarShow">
  Click here
</div>

<div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
  <div
      class="sidebar-close"
      (click)="sidebarShow = !sidebarShow"
  >

  <div class="sidebar-content">

    <a routerLink="/pipes" >Custom Pipes</a>
    <a routerLink="/dynamic" > Dynamic Components</a>
    <a routerLink="/impure" >Impure pipes</a>
    <a routerLink="/change" >Change color</a>
    <a routerLink="/custom">Custom Structural Directive</a>
    <a routerLink="/forms">Reactive Forms</a>
    <a routerLink="/template">Template Driven Forms</a>
    <a routerLink="/dynamicforms">Dynamic Forms</a>
    <a routerLink="/modelform"> Model Form</a>
    
  </div>
</div>
</div>


-->
<!-- 
<div class="container">
  <router-outlet></router-outlet>
</div>  -->
<!-- <div style="height: 88vh">

</div> -->

<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav class="example-sidenav"  mode="side" opened="true">

    <mat-nav-list >
      <mat-list-item>
        <button  mat-icon-button (click)="isExpanded = !isExpanded">
          <mat-icon *ngIf="!isExpanded">chevron_right</mat-icon>
          <mat-icon *ngIf="isExpanded">chevron_left</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <div *ngIf="isExpanded" class="myitems">

      <a 
        *ngFor="let route of routes"
        mat-list-item
        [routerLink]="route.path"
        (click)="isExpanded = !isExpanded"
      >
     {{ route.label }} </a
      >
      </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content> 

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
