mat-sidenav {

}



.example-container {
  
  /* position: absolute; */
  width: 100%;

  display:contents;
   width: 500px;
  /* height: 100px; */
  /* position: fixed; */

  border: 1px solid rgba(0, 0, 0, 0.5); 
  
}

.myitems{
  /* padding: 8px 8px 8px 32px; */
  text-decoration: none;
  padding-left: 3rem;
  padding-top: 14rem;
  
  /* font-size: 25px; */
  /* color: #818181; */

}







 

