.myform{
    /* padding-left: 100px; */
    /* padding-right: 100px; */
    /* display: flex;
    /* margin:auto; */
    margin: 1rem;
    /* width: 40%; */
    /* height: auto; */
    /* align-items: center; */
    /* text-align: center; */
    padding: 3rem 3rem; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    /* padding: 5px; */
    /* white-space: nowrap; */
    /* display: inline; */
    /* overflow: hidden; */
}

.madhuri{
    /* white-space: nowrap; */
    margin:auto;

    display: flex;
    gap: 10px;
    /* align-content: left; */
    /* align-self: left; */
    padding: 1rem 0;
    max-width: 1200px;
}

.mybuttons {
    top: 4%;
    right: 5%;
    position: absolute;
    /* padding-top: 1000px; */
    padding-left: 0px;
    display: inline;
    /* padding-bottom: 1000px; */
}
.card {
    margin-left: 20px;
}
.delete-btn {
    width: 30px !important;
    height: 30px !important;
}

mat-icon {
    font-size: 15px;
    margin-top: -17px;
}