.myform{
    /* padding-left: 100px; */
    /* padding-right: 100px; */
    display: flex;
    /* margin:auto; */
    margin-left: 10rem;
    /* width: 40%; */
    /* height: auto; */
    align-items: center;
    text-align: center;
    padding: 3rem 3rem;

    /* padding: 5px; */
    /* white-space: nowrap; */
    /* display: inline; */
    /* overflow: hidden; */
}

.madhuri{
    /* white-space: nowrap; */
    margin:auto;

    display: flex;
    gap: 10px;
    /* align-content: left; */
    /* align-self: left; */
    padding: 1rem 0;
    max-width: 1200px;
}

.mybuttons {
    top: 4%;
    right: 5%;
    position: absolute;
    /* padding-top: 1000px; */
    padding-left: 0px;
    display: inline;
    /* padding-bottom: 1000px; */
}
